# PostgreSQL test database credentials
MIGRATOR__USER=migrator_user
MIGRATOR__PASSWORD=migrator_password
MIGRATOR__DB=backend_test

DATABASE__USER=app_user
DATABASE__PASSWORD=app_password
DATABASE__DB=backend_test
