{#def title, current_user=None, active=None #}
<layout.BlankPage title="{{ title }}">
  <layout.Sidebar current_user={{ current_user }} active="{{ active }}" />
  <main class="page-main">
    {{ content }}
  </main>
</layout.BlankPage>
